{% extends 'base.html'%}

{% block head %}
<title>{{ title }}</title> 
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- main css -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock head %}


{% block body %}
    <section class="products container" id="products">
        
        <div class="row mt-4">
            <form class="form-inline my-2 my-lg-0 col-12" action="/search">
                <div class="from_price col-6">
                    <p>From price:</p>
                    <input type="range" name="from_price" min="1" max="100000000" value="10000" class="slider" oninput="this.nextElementSibling.value = this.value">
                    <output>10000</output>
                </div>
                <div class="to_price col-6">
                    <p>to price:</p>
                    <input type="range" name="to_price" min="1" max="100000000" value="25000000" class="slider" oninput="this.nextElementSibling.value = this.value">
                    <output>25000000</output>
                </div>
                <button class="btn btn-block btn-outline-success my-2 mt-4" type="submit">Search</button>
            </form>
        </div>
        <div class="row mt-4">
            {% if filtered_products %}    
            {% for product in filtered_products %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 p-4">
                <div class="card">
                    <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-price">{{ product.price }} VNĐ</p>
                    <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="col-12 text-center"> Không tìm thấy kết quả nào </h3>
            {% endif %}
        </div>
    </section>
{% endblock body %}


{% block scripts %}
<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock scripts %}