/* :root {
  --theme-color-1: #86C232;
  --theme-color-2: #61892F;
  --background-color: #222629;
  --primary-color: #6B6E70;
  --secondary-color: #474B4F;
}

h1,h2,h3,h4,h5 {
  color: #fff;
}

html,body {
  background: var(--background-color);
} */

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

output::after {
  content: "VNĐ";
  margin-left: 0.5em;
}